<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/layout/index :: dynamic(~{::main})}">
    <body>
        <main>
			<div class="card">
				<div class="card-header">YOUR ORDERS PRUCHASE</div>
				<table class="table">
					<thead>
						<tr>
							<th>No.</th>
							<th>Order No.</th>
							<th>Order Date</th>
							<th>Shipping Address</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order,state:${orders}">
							<td>[[${state.index}]]</td>
							<td>[[${order.id}]]</td>
							<td>[[${order.createdate}]]</td>
							<td>[[${order.address}]]</td>
							<td>[[${state.index}]]</td>
							<td>
								<a th:href="@{|/order/detail/${order.id}|}" class="btn btn-primary">Search</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
        </main>
    </body>
</html>
